*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: url('/imgs/background_traveling.jpeg');
}



.nav-link{
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.nav-burger{
    display: none;
    position: absolute;
    top: 20px;
    left: 30px;
}


@media screen and (max-width: 650px) {
    body{
        background-image: url('/imgs/background_traveling.jpeg');
        width: 650px;
        height: auto;
        background-repeat: no-repeat;
    }
    #logo{
       position: absolute;
       left: 35%;
       top: 3%;
       align-items: center;
    }
    .nav-burger{
        display: block;
    }
    .nav-link{
        display: none;
    }
    .video{
        position: absolute;
        margin-left: 20%;
        margin-top: 5%;
    }
    .presentation{
        position: absolute;
        margin-left: 20%;
        margin-top: 35%;
    }
    .container_travel{
        position: absolute;
        margin-left: 20%;
        margin-top: 50%;
    }
    .plane{
        width: 80%;
        height: 50%;
    }
    .container_travel_1{
        color: rgb(0, 0, 0);
    }

    .container_travel_bus{
        position: absolute;
        margin-left: 20%;
        margin-top: 90%;
    }
    .bus{
        width: 80%;
        height: 50%;
    }
    .container_travel_2{
        color: rgb(0, 0, 0);
    }
    .container_travel_pierre_vacance{
        position: absolute;
        margin-left: 20%;
        margin-top: 130%;
    }
    .pierre_vacance{
        width: 80%;
        height: 50%;
    }
    .container_travel_3{
        color: rgb(0, 0, 0);
    }
}
